/**
 * CSS styles for the teamMemberCard component.
 rc/Components/TeamMemberCard.css
 *
 * This CSS code defines the styles for the teamMemberCard component, which is used to display information about a team member.
 * It includes styles for the card layout, image, name, and other details.

 */

/* TeamMemberCard.css */

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
