/**
 * @file FadeAnimation.css
 * @module FadeAnimation
 * @desc CSS styles for implementing scroll-triggered animations with Intersection Observer.
 * 
 * @style .vis-fade-in
 * This class is used to set the initial hidden state of elements that should animate into view.
 * 
 * @style .make-visible
 * This class is added via JavaScript when the element intersects with the viewport, triggering the animation.
 * 
 * @style @media (prefers-reduced-motion: reduce)
 * This media query checks for users who prefer reduced motion and disables animations for better accessibility.
 * 
 * @style .fade-delay
 * This class adds a delay to the animation, used to stagger animations for a smoother visual effect.
 * 
 * @example
 * // Add this class to elements you want to animate into view
 * <div class="vis-fade-in">Content to animate</div>
 * 
 * @example
 * // Use JavaScript to add 'make-visible' when the element is in the viewport
 * document.querySelector('.vis-fade-in').classList.add('make-visible');
 * 
 * @created 2024-07-12
 * @updated 2024-07-12
 */

/* animations on scroll */
/* class for when things are hidden */
.vis-fade-in {
  opacity: 0; /* Start with the element fully transparent */
  filter: blur(5px); /* Apply a blur effect */
  transform: translateX(-100%); /* Move the element to the left */
  transition: all 0.5s ease-out; /* Smooth transition for all properties */
}

/* class for when things are shown */
.make-visible {
  opacity: 1; /* Make the element fully opaque */
  filter: blur(0); /* Remove the blur effect */
  transform: translateX(0); /* Move the element to its original position */
}

/* if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  .vis-fade-in,
  .make-visible {
    transition: none; /* Disable transitions */
  }
}

/* adds a delay to the animation */
.fade-delay {
  transition-delay: 600ms; /* Delay before the transition starts */
}
