/**
 * @file scrollbar.css
 * @module scrollbar
 * @desc Contains custom styles for the scrollbar, applicable to both WebKit-based browsers and Firefox.
 * 
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar|MDN WebKit Scrollbar Documentation}
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars|MDN CSS Scrollbars Documentation}
 * 
 * @author Chace Nielson
 * @created 2024-07-10
 * @updated 2024-07-10
 */

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
  height: 12px; /* Adjust the height of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #556B2F; /* Use a hardcoded secondary color */
  border-radius: 6px; /* Make the scrollbar thumb rounded */
  border: 3px solid transparent; /* Add some padding around the thumb */
  background-clip: content-box; /* Ensure the background color is inside the border */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #F5F5F5; /* Use a hardcoded primary color */
}

/* Apply styles to Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #556B2F #F5F5F5; /* thumb color, track color */
}
