/**
 * @file index.css
 * @module index
 * @desc This CSS file contains the setup for Tailwind CSS and regular CSS styles for the entire document.
 * 
 * @see {@link https://tailwindcss.com/docs|Tailwind CSS Documentation}
 * 
 * @author Chace Nielson
 * @created 2024-07-10
 * @updated 2024-07-12
 */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Lexend");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Open+Sans&family=Roboto&family=Lato&family=Montserrat&family=Nunito");


/* fonts */
body{
  @apply font-mageri
}
.titleFont {
  @apply font-techead; /* If available */
}
 
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-primary;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* for the home page setup */
.home-page-container {
  @apply relative w-full overflow-hidden;
}
.home-page-box {
  @apply absolute inset-0 
  flex flex-col items-center justify-center 
  text-center 
  bg-black bg-opacity-20
  px-6 md:px-8 lg:px-12 2xl:px-16
  ;
}

.intro-size{
  @apply h-80 md:h-112 lg:h-160 2xl:h-208;
}
.pannel-size{
  @apply h-72 md:h-104 lg:h-128 2xl:h-160;
}

.text-box{
  @apply max-w-3xl
}

.home-page-title {
  @apply text-white text-2xl sm:text-4xl md:text-6xl 
  font-extrabold text-outline-large titleFont
  mb-4 pb-1 px-1.5
  text-box
  ;
}
.home-page-description {
  @apply text-white text-base sm:text-lg md:text-xl 
  max-w-2xl text-outline-small
  text-box;
}
.break-line-clamp {
  @apply line-clamp-3 break-words ;
}



/* for outlining text over images */
.text-outline-large {
  text-shadow: 
    -1.5px -1.5px 0 #000,  
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000; /* Black outline */
}
/* a smaller outline version */
.text-outline-small {
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* Black outline */
}

/* Media query for smaller screens text outline */
@media (max-width: 760px) {
  .text-outline-large {
    text-shadow: 
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000; /* Black outline */
  }
  
  .text-outline-small {
    text-shadow: 
      -0.5px -0.5px 0 #000,  
      0.5px -0.5px 0 #000,
      -0.5px 0.5px 0 #000,
      0.5px 0.5px 0 #000; /* Black outline */
  }
}




/* scrollbar styles */
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
  height: 12px; /* Adjust the height of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 6px; /* Make the scrollbar thumb rounded */
  border: 3px solid transparent; /* Add some padding around the thumb */
  background-clip: content-box; /* Ensure the background color is inside the border */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-primary
}

/* Apply styles to Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #556B2F #F5F5F5; /* thumb color, track color */
}
