/**
 * @file index.css
 * @module index
 * @desc This CSS file contains the setup for Tailwind CSS and regular CSS styles for the entire document.
 * 
 * @see {@link https://tailwindcss.com/docs|Tailwind CSS Documentation}
 * 
 * @author Chace Nielson
 * @created 2024-07-10
 * @updated 2024-07-12
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-primary;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* scrollbar styles */
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
  height: 12px; /* Adjust the height of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 6px; /* Make the scrollbar thumb rounded */
  border: 3px solid transparent; /* Add some padding around the thumb */
  background-clip: content-box; /* Ensure the background color is inside the border */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-primary
}

/* Apply styles to Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #556B2F #F5F5F5; /* thumb color, track color */
}
